    <table class="table table-hover">
        <tr>
            <td width="70px">
                <a href="{{ url_for('profile', username=project.author.username) }}">
                    <img src="{{ project.author.avatar(70) }}">
                </a>
            </td>
            <td>
                <p>
                    {{ project.name }}<br>
                    Author: <a href="{{ url_for('profile', username=project.author.username) }}">
                                {{ project.author.username }}
                            </a><br><br>
                    {{ project.project_description }}
                    Members: {{ project.members }}/{{ project.members_required }}
                </p>
            </td>
        </tr>
    </table>